[user]
    email = joenyland@me.com
    name = Joe Nyland
    signingkey = DA9C1E58D5DE0C84
[push]
    default = simple
[core]
    autocrlf = input
[help]
    autocorrect = 1
[fetch]
    prune = true
[rebase]
    autosquash = true
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[color]
    ui = true
